<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Tenor+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<style>
    body {

font-family: "Tenor Sans", sans-serif;
    }
    .table
    {
    	width:700px;
    	
    }
   </style>
    
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a href="{% url 'alogin' %}" style="margin-left: 1200px;" class="btn btn-outline-warning"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
    </div>
  </div>
</nav>
	
		<a href="{% url 'reg' %}" target="blank" class="btn btn-outline-warning my-5 mx-5">Student Registration</a>
    <a href="{% url 'treg' %}" target="blank" class="btn btn-outline-warning my-5 mx-5">Teacher Registration</a>
    <a href="{% url 'pr' %}" class="btn btn-outline-warning my-5 mx-5">Publish results</a>
    <a href="{% url 'npr' %}" class="btn btn-outline-warning my-5 mx-5">Cancel Published Results</a>
    <br><br>
    {% block content %}
    {% endblock %}
</body>
</html>