{% extends 'tbase.html' %}
{% block content %}
    <h1 class="my-5 text-center">Marks Entry</h1>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered table-hover table-striped mx-5 my-5">
            <tr>
                <th>Registration No.</th>
                <th>Name</th>
                <th>CLA 1</th>
                <th>CLA 2</th>
                <th>MID 1</th>
                <th>MID 2</th>
                <th>END SEM</th>
            </tr>
            {% for stu, m in zl %}
                <tr>
                    <td>{{ stu.reg_no }}</td>
                    <td>{{ stu.fname }} {{ stu.lname }}</td>
                    <td><input type="text" name="cla1_marks_{{ stu.id }}" value="{{ m.cla1_marks }}"></td>
                    <td><input type="text" name="cla2_marks_{{ stu.id }}" value="{{ m.cla2_marks }}"></td>
                    <td><input type="text" name="mid1_marks_{{ stu.id }}" value="{{ m.mid1_marks }}"></td>
                    <td><input type="text" name="mid2_marks_{{ stu.id }}" value="{{ m.mid2_marks }}"></td>
                    <td><input type="text" name="endsem_marks_{{ stu.id }}" value="{{ m.endsem_marks }}"></td>
                    <input type="hidden" name="s_id_{{ stu.id }}" value="{{ stu.id }}">
                    <!-- <input type="hidden" name="course_id_{{ stu.id }}" value="{{ course_id }}"> -->
                </tr>
            {% endfor %}
        </table>
        <button type="submit" style="margin-left: 650px;" class="btn btn-outline-success my-5">Update Marks</button>
    </form>

    
{% endblock %}