<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Tenor+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- Add this line -->
	<style>
    body {

font-family: "Tenor Sans", sans-serif;
    }
    .navbar
        {
            background-color: #262261;
            color: white;
        }
        .navbar a 
        {
            color: white;
        }
        .navbar p 
        {
            color:#c2914e;
        }
        .navbar a:hover
        {
            color: #c2914e;
        }
    .table
    {
    	width:700px;
    	
    }
   </style>
    
</head>
<body>
	<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'thome' id %}" class="my-3">PROFILE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'thome' id %}">Home </a>
      <!-- <a class="nav-item nav-link" href="#">Marks Entry</a> -->
      <!-- <a class="nav-item nav-link" href="#">Analyse performance</a> -->
      <a class="nav-item nav-link" href="{% url 'marks_entry' id %}">Marks Entry</a>
      <a class="nav-item nav-link" href="{% url 'reports' id %}">Reports</a>
      

    </div>
      </div>
     <p class="my-3">Logged in as {{ob.username}}</p>
     <a href="{% url 'tlogin' %}" class="nav-item nav-link">Logout</a>

</nav>
	<h1 class="mx-5 my-5">WELCOME Dr. {{ob.fname}} {{ob.lname}}</h1>
	{% block content %}
	{% endblock %}
</body>
</html>